@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400&display=swap');

body{
    background-color: black;
    color: white;
}

.heading{
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.para{
    font-size: 20px;
    font-weight: 200;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}

.image{
    align-items: center;
    display: flex;
    justify-content: center;
}

img{
    height: 350px;
    width: auto;
}