@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400&display=swap');

body{
    background-color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
}

.heading{
    font-weight: 100;
    font-size: 60px;
}

.intro{
    min-height: 100vh;
    background-image: url(kishkindhakandbg.png);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    padding-right: 2rem;
    padding-left: 35rem;
    color: #ffffff;
    justify-content: right;
    text-align: center;
    font-size: 20px;
}

.sub-heading{
    font-size: 20px;
    font-weight: 200;
}